 /* ================== 
    Global Styles 

#1E1E1E (Drk Gray)        Background
#484848 (Drk Mid Gray)    Mid-ground    
#808080 (Mid Gray)        Fore-Ground   /   comment and table outline
#E0E0E0 (Soft White)      Highlight     /   text
#FFBD44 (yellow)          Alt Highlight /   hyperlink


#FF605C (red)     Close
#FFBD44 (yellow)  Minimize
#00CA4E (green)   Expand
#4285f4 (blue)
#7D7AF7 (purple)

 ================== */


body{
    background-color: #1E1E1E;
    color: #E0E0E0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 14px;
    line-height: 1.5em;
}



 /* ==================
      Typography
 ================== */


h1{
    font-size: 2.5em;
}

h2{
    font-size: 1.5em;
    padding-top: 4em;
}



p{
    color: #808080;
    font-size: 1.5em;
}

strong {
    font-weight: 900;
}

em{
    font-weight: 450;
}

a{
    color: #FFBD44;
    text-decoration: none;
}



/* ==================
        Tables
================== */


table{ 
    background-color: #808080;
    border-spacing: 0.075em;
}

/*== indented table style ==*/
#table-in table{
    border-collapse: collapse;
    font-size: 0.9em;
}

/*== navigation bar at the bottom of each page ==*/
#nav-bar table{
    border-collapse: collapse;
    font-size: 0.75em;
    padding-top: 3em;
    text-align: left;
}

tr,th,td{
    background-color: #1E1E1E;
    font-weight: normal;
    min-width: 11em;
    padding: 0.75em;
    text-align: left;
}
 
th{
    padding: 0.75em;
}

td{
    line-height: 1.75em;
}
 
ul{
    font-size: 0.9em;
    line-height: 1.55em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
 
 
/* ==================
         Images
================== */
 
img{
    padding: 1em;
    padding-top: 5em;
    width: 37.5em;
}